*.pyc
.HA_VERSION
.cloud
.config_entries.json
.homekit.state
.ios.conf
.storage
.uuid
OZW_Log.txt
deps
entity_registry.yaml
harmony_*.conf
home-assistant.log
home-assistant_v2.db
homebridge
html5_push_registrations.conf
icloud
known_devices.yaml
nest.conf
options.xml
phue.conf
plex.conf
pyozw.sqlite
secrets.yaml
tts
www/google*
zwcfg_*.xml
zwscene.xml
